html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fffff;
  height: 100%;
}

body {
  font-size: 1rem;
  display: block;
  overflow: hidden;
}



#editbutton {
  font-size: 1em;
  color: white;
}

#settingsbutton {
  color:white;
}

#add {
  position:absolute;
  bottom: 4.55em;
  height: 10%;
  width: 100%;
  background-color: rgba(95,155,10,0.8);
  
  text-align: center;
  z-index: 2;
}

#add div {
  display: inline-block;
  height:5em;
  width: 5em;
  background-color: #5F9B0A;
  border-radius: 100%;
  
}
#add a {
  position:absolute;
  bottom: 0.63em;
  right: 15.2em;
  text-decoration: none;
  color: white;
  outline: 0;
}

#add a:hover {
  color:  #2C393B;
}

#startoptions{
  position:absolute;
  height: 100%;
  width: 50%;
  background-color: #2C393B;
  overflow: auto;
  z-index: 1;
}

#destinationoptions{
  position:absolute;
  right:0;
  height: 100%;
  width: 50%;
  background-color: #2C393B;
  border-left: 1px solid black;
  overflow: auto;
  z-index: 1;
}

#navigation {
  position: absolute;
  width: 100%;
  height: 5%;
  z-index: 2;
  bottom:0;
  left: 0;
}

